.bic-lista-bicicletas {
  padding: 120px 20px 0;
  box-sizing: border-box;
}

.bic-lista-bic-titulo {
  margin-bottom: 40px;
}

.bic-lista-carrossel {
  max-width: 1460px;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  overflow: auto;
  gap: 40px;
}

.bic-lista-carrossel-item {
  min-width: 280px;
}

/* Serve para o tab alinhar corretamente */
.bic-lista-carrossel-item a {
  display: block;
}

.bic-lista-carrossel-item .decorativo-1::before{
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  transition: 0.3s;
}

/* Container da imagem */
.bic-lista-carrossel-item a > div:first-child{
  border-radius: 5px;
  margin-bottom: 16px;
}

.bic-lista-carrossel-item h3 {
  margin-bottom: 8px;
}

.bic-lista-carrossel-item span {
  margin-left: 20px;
}

/* Animações */
.bic-lista-carrossel-item:hover .decorativo-1::before{
  padding-right: 12px;
}


.bic-lista-carrossel-item a > div:first-child{
  overflow: hidden;
}
.bic-lista-carrossel-item img {
  transition: 0.3s;
}
.bic-lista-carrossel-item:hover img{
  transform: scale(1.1);
}

/* Responsivo */

@media (max-width: 800px) {
  .bic-lista-bicicletas {
    padding-top: 60px;
  }
  .bic-lista-carrossel {
    gap: 20px;
  }
}