.faq {
  padding-top: 120px;
  padding-bottom: 120px;
}

.perguntas {
  margin-top: 90px;
}

.perguntas > div {
  padding: 20px;
  position: relative;
}

.perguntas > div:nth-child(odd) {
  background-color: var(--c1);
  border-radius: 5px;
}

.perguntas button {
  width: 100%;
  padding-right: 60px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.perguntas dd {
  display: none;
  max-width: 75ch;
  padding-left: 21px;
  padding-top: 16px;
}

.perguntas dd.faq-ativo {
  display: block;
}

.perguntas button::after {
  content: "";
  display: block;
  width: 14px;
  height: 6px;
  background-image: url("../../img/icones/seta-abrir.svg");
  position: absolute;
  right: 30px;
  padding: auto 0px;
  transform: scale(1, -1);
  transition: 0.2s;
}

.perguntas button[aria-expanded="true"]::after {
  transform: scale(1, 1);
}
