.vantagens-bg {
  background-color: var(--c12);
}

.vantagens {
  padding-top: 120px;
  padding-bottom: 120px;
}

.vantagens-lista {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px;
}

.vantagens-lista li{
  display: grid;
  gap: 8px;
}

.vantagens-lista li img {
  width: 32px;
  object-fit: contain;
}

/* Responsividade */

@media (max-width: 800px) {
  .vantagens {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .vantagens-lista {
    margin-top: 45px;
  }
}